.App {
  text-align: center;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #EDEEF3;
}

.container {
  width: 1440px;
  max-width: 100%;
  margin: 70px auto;
}